# requirements.txt

# Core framework for the web app
streamlit==1.33.0

# Data manipulation and reading/writing files
pandas==2.2.1

# Engine for writing .xlsx Excel files. 
xlsxwriter==3.2.0

# Engine for reading modern .xlsx and .xlsm Excel files
openpyxl==3.1.2

# Engine for reading older .xls Excel files
xlrd==2.0.1

# Engine for reading binary .xlsb Excel files
pyxlsb==1.0.10
